.container {
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

body {
    margin: 50px;
    height: 100%;
    background-color: #f8edeb;
    
}

.title {
    text-align: center;
    margin-left: auto;
    padding-top: 10px;
}

.underline {
    text-decoration: underline;
}

.body-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: '100%';
}

.buttons {
    display: inline;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    text-align: center;

    padding: 10px;
    border-radius: 10px;
    
}

.plusButton {
    background-color: #e5989b;
    width:30px;
    height:30px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 26px;

}

.editButton {
    background-color: #e5989b;
    width:50px;
    height:30px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    border-radius: 5px;
}

.doneButton {
    background-color: #e5989b;
    width: 60px;
    height:30px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    border-radius: 5px;
    margin-top: 26px;
}


.footer {
    display: flex;
    margin-top: 100%;
    justify-content: end;
}

.footer h1:first-child {
    margin-left: 20px;
    padding-right: 20px;
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
}


[type="checkbox"] {
    vertical-align: middle;
    margin: 29px 15px 5px 15px;
    width: 20px;
    height: 20px;
}


.spacer {
    Width: 50px
   }

.spacer2 {
    Width: 10px
   }