.container {
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

body {
    margin: 50px;
    height: 100%;
}

.title {
    text-align: center;
    margin-left: auto;
    padding-top: 10px;
}

.underline {
    text-decoration: underline;
}

.body-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: '100%';
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: center;
    text-align: center;
}

.buttons h1:first-child {
    margin-right: 20px;
}

.buttons h1:last-child {
    padding: 15px;
}

.buttons h1 {
    background-color: aliceblue;
    border: solid 1px aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.footer {
    display: flex;
    margin-top: 100%;
    justify-content: end;
}

.footer h1:first-child {
    margin-left: 20px;
    padding-right: 20px;
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[type="checkbox"] {
    vertical-align: middle;
    margin: 29px 15px 5px 15px;
    width: 20px;
    height: 20px;
}